In [9]:
import csv
import pandas as pd
import numpy as np

In [ ]:
def sort_in_descending_order(items):

In [51]:
def mine_frequent_patterns(file):
    # Let the minimum threshold for testing out the algorithm is 3 
    min_threshold = 5
    
    # Storing the transactions list in a "transactions" list variable 
    transactions = []
    
    # Loading given csv file into a pandas dataframe 
    transactions = pd.read_csv(file)
    
    # Getting the count of each item from the dataset and storing them in a data frame
    count_of_items = transactions.sum().to_frame()
    
    # Sorting the count_of_items in descending order
    count_of_items = count_of_items.sort_values(by=[0],ascending=False).T
    
    # Fetching the headers of newly sorted count_of_items into "items" list
    items = list(count_of_items.columns)
    
    # Rearrannging the transactional data in order of newly sorted items list
    transactions = transactions.loc[:,items]
            
    # Creating an FP Tree based on the transformed transactional data
    

    return transactions

In [52]:
mine_frequent_patterns('./test_sample_data.csv')

   Apples  Bananas  Meat  Bread  Eggs  Mangoes  Oranges  Milk  Sugar
0       1        1     0      1     1        1        0     0      0
1       0        0     1      1     1        0        0     1      1
2       1        1     1      1     1        0        0     1      1
3       0        1     1      0     1        0        1     0      0
4       1        1     1      1     0        0        0     1      0
5       1        1     1      0     0        1        0     0      0
6       1        1     1      1     1        1        1     1      1
7       0        0     1      0     0        0        0     0      0
8       1        1     0      0     0        1        1     0      0
9       1        0     0      1     1        0        1     0      0